<div class="container animated fadeInUpBig" style="margin-top:30px color-white">
    <div class="row" style="color: white;">
        <div class="col-sm-4 ">
            <h2>Acerca de mi.</h2>

            <!--<div class="fakeimg">Fake Image</div>-->
            <img src="img/Foto.jpg" alt="Foto mia" style="border-radius:50%; width: 300px; height: 300px;">
           
            <h3>Mis redes</h3>

            <ul class="nav nav-pills flex-column ">
                <li class="nav-item ">
                    <a class="nav-link text-dark" href="https://github.com/EfrenMGonzalezL" target="_blank">GitHub  </a>
                    
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-dark" href="https://www.twitch.tv/darkness_z3r0" target="_blank">Twitch <i class="fas fa-twitch"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="https://www.facebook.com/DarknessZ3R0/" target="_blank">Facebook <i class="fas fa-facebook"></i></a>
                </li>
            </ul>
            <hr class="d-sm-none">
        </div>
        <div class="col-sm-8">
            <h2>Sistema de Tickets</h2>
            <h5>Septiembre 13 2021 Programa de Python</h5>
            <div class="fakeimg">Fake Image</div>
            <p>Sistema de tickets de control..</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis eveniet sit, laudantium assumenda itaque temporibus quibusdam rerum sed esse architecto officiis possimus sequi. Eaque facilis repellendus possimus distinctio facere quisquam!</p>

            <br>

            <h2>Creacion de imagenes de Captcha</h2>
            <h5>Enero 21 2018 programa de Python</h5>
            <div class="fakeimg">Fake Image</div>
            <p>Aplicacion de Python...</p>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>

            <br>

            <h2>Creacion de imagenes de Captcha</h2>
            <h5>Enero 21 2018 programa de Python</h5>
            <iframe width="520" height="320" src="https://drive.google.com/file/d/16QPb62qTgd6Gd-hQfB0W5MJHJ312Zqsz/preview"></iframe>

            <p>Aplicacion de Python...</p>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            <br>
        </div>
    </div>
</div>

